
<h2 >Select Operation</h2>
<form >
    <table  id="flashcontent" >
        <th></th>
          <th>
    <mat-selection-list #option>
        <mat-list-option *ngFor="let flash_option of flash_options">
          {{flash_option.name}}
        </mat-list-option>
      </mat-selection-list>
      <div class="example-button-row" layout-align="center center" >
          <button   (click)="next()" matTooltipPosition="above" matTooltip="Press next to continue" mat-button>Next</button>
        </div>
      Options selected: {{option.selectedOptions.selected.length}}
    </th>
    <th></th>
    </table>
</form>