<ngb-tabset type="pills">
  <ngb-tab>
    <ng-template ngbTabTitle><b>Gadget Central</b></ng-template>
    <ng-template ngbTabContent>
        <div id="selector" class="btn-group mr-3" class="row justify-content-center" >
            <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
              <button class="btn btn-outline-danger" ngbDropdownToggle>Choose Your Devices Brand</button>
              <div class="dropdown-menu" ngbDropdownMenu>
                <button class="dropdown-item">Techno</button>
                <button class="dropdown-item">Infinix</button>
              </div>
            </div>
        </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><b>Transfer Operations</b></ng-template>
    <ng-template ngbTabContent>
      Transfering files
      <br>
        <p><ngb-progressbar value="250" showValue="true" ></ngb-progressbar></p>
        <ejs-chart id="chart-container" [primaryXAxis]="primaryXAxis"  width='650px' height='300px'>

            <e-series-collection>
            
            <e-series [dataSource]="chartData" type="Line" xName="year" yName="gold" name="Gold">
            
            </e-series> 
            
            </e-series-collection>
            
            </ejs-chart>
    </ng-template>
  </ngb-tab>
  <ngb-tab [disabled]="true">
    <ng-template ngbTabTitle><b>Player</b></ng-template>
    <ng-template ngbTabContent>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
<div id="particles-js"></div>