<div id="demotext">{{title}}</div>
<ngb-tabset type="pills">
  <ngb-tab >
    <ng-template ngbTabTitle><b>Gadget Central</b></ng-template>
    <ng-template ngbTabContent>
        <div id="prgsize"style="height: 300px;">
              <table  id="table"  class="greenTable" >
                  <th>
                      <app-device-details></app-device-details>
                  </th>
                  <tr></tr><tr></tr>
                  </table>
              </div>
              
        </ng-template>
   
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><b>Transfer Operations</b></ng-template>
    <ng-template ngbTabContent>
        <div id="prgsize"style="height: 300px;">
            <table  id="table"  class="greenTable" >
                <th>
                    Currently downloading
                </th>
                </table>
            </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab [disabled]="false">
    <ng-template ngbTabTitle><b>About Neon</b></ng-template>
    <ng-template ngbTabContent>
        <div id="prgsize"style="height: 300px;">
            <table  id="table"  class="greenTable" >
                <th >
            <h4>Maintainer:Sage</h4>
            <h4>Neon version:1.920020<br></h4>
            <h4>Build id:1.12232</h4>
            <h4>Build data:12/12/2020</h4>
                </th>
                </table>
            </div>
        
    </ng-template>
  </ngb-tab>
</ngb-tabset>
<div id="particles-js"></div>

<ngx-spinner
bdOpacity = 0.9
bdColor = "#1f1e1e"
size = "medium"
color ="#e423dd"
type = "ball-clip-rotate-pulse"
fullScreen = "true"
>
<p style="color: white" > <br>Loading Neon Project </p>
</ngx-spinner>