<h3>{{title}}</h3>
<ngb-tabset type="pills">
  <ngb-tab >
    <ng-template ngbTabTitle><b>Gadget Central</b></ng-template>
    <ng-template ngbTabContent>
        <div id="prgsize"style="height: 300px;">
              <table  id="table" >
                  <th>
                      <app-progress [value]="progress | async"></app-progress>
                  </th>
                    <th valign="top">
                      <br><br><br>
                        <div id="terminal"></div>
                        <button (click)="sendMsg()">Send Message</button>
                  </th>
                  </table>
              </div>
              
        </ng-template>
   
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><b>Transfer Operations</b></ng-template>
    <ng-template ngbTabContent>

    </ng-template>
  </ngb-tab>
  <ngb-tab [disabled]="false">
    <ng-template ngbTabTitle><b>About Neon</b></ng-template>
    <ng-template ngbTabContent>
        <div id="prgsize"style="height: 300px;">
            <h4>Maintainer:Sage</h4>
            <h4>Neon version:1.920020<br></h4>
            <h4>Build id:1.12232</h4>
            <h4>Build data:12/12/2020</h4>
        </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
<div id="particles-js"></div>