/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
    
    background-image: url("assets\156411-otaku-wallpaper-1920x1200-xiaomi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    overflow-x: hidden;
    color: rgb(6, 34, 66);
    
}
#terminal {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color:blue;
    width: 450px;
    height: 100px; /* <- fixed height */
    font-size: 16px;
    line-height: 17px; /* <- initial line-height */
    text-overflow: ellipsis;
  }

